{% load static %}

<script type="text/JavaScript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/JavaScript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/JavaScript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/JavaScript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/JavaScript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/JavaScript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script type="text/JavaScript" src="{% static 'js/aos.js' %}"></script>
<script type="text/JavaScript" src="{% static 'js/main.js' %}"></script>